<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/encontre">
          Encontre
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          Cheguei
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
          Boicotes
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
          Notificações
        </ion-item>
        <ion-item nav-clear menu-close ng-click="login()">
          (Login)
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
