/* Empty. Add your own CSS if you like */
/*
.menu-left {
    background-color: black;
    color: white;
}

.menu-left .item, .menu-left .item .item-content {
    background-color: black;
    color: white;
}
*/
